//**************************General typography**************************
html {
	font-size:14px;
	@media screen and (min-width:$tablet) {
		font-size:16px;
	}
	@media screen and (min-width:$notebook) {
		font-size:18px;
	}
	@media screen and (min-width:$fhd) {
		font-size:20px;
	}
}

html {
	font-family: Lato, Tahoma, sans-serif;
}

.t2 {
	font-size: 3rem;
}

.t1 {
	font-size: 2rem;
}

.t0 {
	font-size: 1rem;
}

.s1 {
	font-size: 0.9rem;
}

.heading {
	font-weight: 700;
}

.link {
	text-decoration: none;
}

.header, .projects, .about, .contact {
	text-align: center;
}

//**************************Navbar**************************
.menu {
	&__item {
		list-style: none;
		line-height:3;
		text-transform: uppercase;
	}
}

//**************************Header**************************
.header {

}

//**************************Projects**************************
.projects {

}

//**************************About**************************
.about {

}