html {
	color: #222;
}

.link {
	color: inherit;
}

//**************************Navbar**************************
.navbar {
	transition: background-color 0.3s;
	&--scrolling {
		background-color: rgba(0,0,0,0.8);
		.menu{
			&__item {
				color: #fff;
			}
		}
	}
}

.menu {
	&__item {
		color: #000;
	}
}

//**************************Header**************************
.header {
	color:#fff;
	text-shadow: 3px 3px 20px #888;
	&__arrow {
		border-color: #fff;
	}
}

//**************************Projects**************************
.projects {
	background-color:#ddd;
}

//**************************About**************************
.about {
	color: #fff;
	background-color: #15191d;
}

//**************************Contact**************************
.contact {
	background-color: #fff;
}