.header {
	position: relative;
	padding:10rem 3rem 3rem;
	background-image: url("../images/background_1.jpg");
	background-size: cover;
	background-position: top center;
	min-height:100vh;
	&__title {
		position: relative;
		display: inline-block;
	}
	@keyframes floating {
		0% {
			bottom: 2rem;
		}
		100% {
			bottom: 2.5rem;
		}
	}
	&__arrow {
		position: absolute;
		bottom: 3rem;
		left:50%;
		display: inline-block;
		transform: rotate(45deg) translateX(calc(-(3rem * 1.41) / 2));
		border-width: 0 0.3rem 0.3rem 0;
		border-style: solid;
		width: $arrow-size;
		height: $arrow-size;
		animation: floating 1s infinite alternate;
	}
}